<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triangleApp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.triangleApp.util.DefaultApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.triangleApp.MainMenu"
            android:label="@string/mainMenuTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.triangleApp.Announcements"
            android:label="@string/announcementsTitleBar" >
        </activity>
        <activity
            android:name="com.triangleApp.MakeQuickEvent"
            android:label="@string/quickEventTitleBar" >
        </activity>
        <activity
            android:name="com.triangleApp.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.triangleApp.ParseLogin"
            android:label="@string/parseSetupTitleBar"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.triangleApp.QuickEventList"
            android:label="@string/title_activity_quick_event_list" >
        </activity>
        <activity
            android:name="com.triangleApp.QuickEventMenu"
            android:label="@string/title_activity_quick_event_menu" >
        </activity>
        <activity
            android:name="com.triangleApp.Directory"
            android:label="@string/title_activity_brother_directory" >
        </activity>
    </application>

</manifest>